.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;

}

#quiz-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#choice-box {
    display:flex;
    flex-direction: column;
}

form {
    margin-top: 1rem;
}