* {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border:none;
}
.hidden {
    visibility: hidden;
    position: absolute;
}

.visible {
    visibility: visible;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
#title {
    font-size: 2rem;
}
#container {
    position: relative;
}

#quiz-box {
    width: 60%;
    margin: 0 auto;
}

#choice-box {
    display:flex;
    flex-direction: column;
}

#view-score {
    display: inline-block;
    width: fit-content;
    background-color: white;
    text-decoration: underline;
    color: grey;
}

#view-score:hover{
    color:red;
}

button {
    width: fit-content;
    background-color: purple;
    color: white;
    text-align: left;
    padding: 0 1rem;
}


#feedback {
    color:grey
}

#submit {
    background-color: purple;
    color: white;
    padding: 0 1rem;
}

#name {
    border: 2px solid lightgray;
}

form {
    margin-top: 1rem;
}

li {
    list-style-type: none;
}